body {
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}
.box {
  background:#1e293b;
  padding:30px;
  border-radius:10px;
  color:white;
}
input,button {
  width:100%;
  margin:8px 0;
  padding:10px;
}
button {
  background:#22c55e;
  border:none;
}
